@font-face {
  font-family: 'myriad-pro';
  src: url('assets/fonts/MyriadPro.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myriad-pro';
  src: url('assets/fonts/MyriadProItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

@supports (-webkit-appearance: none) {
  @media (max-width: 48em) {
    html, body {
      min-height: calc(100vh - 56px);
      max-height: calc(100vh - 56px);
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

p,
a,
span {
  font-family: 'myriad-pro';
}