@font-face {
  font-family: "myriad-pro";
  src: url("/fonts/MyriadPro.eot"); /* IE9 Compat Modes */
  src: url("/fonts/MyriadPro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/MyriadPro.otf") format("opentype"), /* Open Type Font */
    url("/fonts/MyriadPro.svg") format("svg"), /* Legacy iOS */
    url("/fonts/MyriadPro.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/MyriadPro.woff") format("woff"), /* Modern Browsers */
    url("/fonts/MyriadPro.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "myriad-pro";
  src: url("/fonts/MyriadProItalic.eot"); /* IE9 Compat Modes */
  src: url("/fonts/MyriadProItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/MyriadProItalic.otf") format("opentype"), /* Open Type Font */
    url("/fonts/MyriadProItalic.svg") format("svg"), /* Legacy iOS */
    url("/fonts/MyriadProItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/MyriadProItalic.woff") format("woff"), /* Modern Browsers */
    url("/fonts/MyriadProItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}


html {
  min-width: 100vw;
  min-height: 100vh;
}

@supports (-webkit-appearance: none) {
  @media (max-width: 48em) {

    html,
    body {
      min-height: calc(100vh - 56px);
      max-height: calc(100vh - 56px);
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

p,
a,
span {
  font-family: 'myriad-pro';
}

.mapboxgl-map {
  outline: none;
}